/* =============
    hero
============= */ 

#hero{
  display: grid;

  @include md {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". hero .";
  }

  @include xl {
    grid-template-columns: auto 1200px auto;
  }


  >div {
   display: grid;
   grid-template-columns: 16px auto 16px;
   grid-template-areas: ". hero .";
   


   @include md {

       display: grid;
       grid-area: hero;
       grid-template-columns: 16px auto 16px;
       grid-template-areas: ". hero .";
   }


   ul {
       margin-top: 20px;
       gap: 16px;
       display: grid;
       grid-area: hero;


       @include md {
           display: grid;
          
           
       }

      

     


       li {

           img {
               width: 100%;
           }

           section {
               display: grid;
               grid-template-columns: 16px auto 16px;
               grid-template-areas: ". hero .";

               >div {
                   grid-area: hero;



               }
           }
       }


   }
}

}





    

    

    

